

<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs" style="text-decoration:underline">Dashboard</h1>

                <h3 class="font-bold m-xs">
                    Asp.Net 5
                </h3>
                <small class="m-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin tellus neque, sit amet  </small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs" style="text-decoration:underline">Son Post</h1>

                <h2 class="font-weight-bold">@ViewBag.SonBlog.</h2>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget bg-danger no-padding">
            <div class="p-m">
                <h1 class="m-xs">₺ 50,992</h1>

                <h4 class="font-bold no-margins">
                    6 Aylık Kar Marjı 
                </h4>
                <small>Satış ve Pazarlama</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>
