@using RamsesEntities.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-lg-12 shadow-lgtext-dark">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Kategoriler Listesi</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>


                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr role="row">
                            <th> #</th>
                            <th>Kategori Adı</th>
                            <th>Aktif Yap </th>
                            <th>Pasif Yap </th>
                            <th>Düzenle </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="">
                                <td>@item.ID</td>
                                <td>@item.Name </td>
                                <td><a href="#" class="btn btn-success">Aktif Yap</a></td>
                                <td><a href="/Admin/Category/DeleteCategory/@item.ID" onclick="return confirm('Silmek istediğinize eminmisiniz? ');" class="btn btn-warning">Pasif Yap</a></td>
                                <td><a href="#" class="btn btn-info">Düzenle</a></td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">
                                #
                            </th>
                            <th rowspan="1" colspan="1">
                                Kategori Adı
                            </th>
                            <th>Aktif Yap </th>
                            <th>Pasif Yap </th>
                            <th>Düzenle </th>
                        </tr>
                    </tfoot>
                </table>
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
                <a class="btn btn-dark" asp-area="Admin" asp-controller="Category" asp-action="CategoryAdd">Yeni Kategori Ekle</a>
            </div>

        </div>
    </div>
</div>

