
<!DOCTYPE html>
<html lang="tr">

<head>
    <title>@ViewData["Title"] | Ramses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
   @await Html.PartialAsync("_CssPartial")
</head>

<body>
    <!--Header-->
    <header>
        @await Html.PartialAsync("_TopbarPartial")
        @await Html.PartialAsync("_MenuPartial")
    </header>
    <!--//header-->
    <!--/main-->
    @RenderBody()
    <!--//main-->
    <!--footer-->
    <footer>
        @await Html.PartialAsync("_FooterPartial")
    </footer>
    <!---->
    <!--Js start-->
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    @await Html.PartialAsync("_JsPartial")
    <!--Js end-->
</body>
</html>
