
@{
    ViewData["Title"] = "BlogExcelTest";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogExcelTest</h1>
<hr />
<a class="btn btn-danger" href="/Admin/Blog/ExportStaticExceBlogList">Exel Listesini indir</a>

