
<ul>

    <li>
        <a class="twitter" href="#">
            <i class="fab fa-twitter"></i>
            <span class="count">317K</span> Twitter Takipçiler
        </a>
    </li>
    <li>
        <a class="facebook" href="#">
            <i class="fab fa-facebook-f"></i>
            <span class="count">218k</span> Twitter Beğeniler
        </a>
    </li>
    <li>
        <a class="pin" href="#">
            <i class="fab fa-youtube"></i>

            <span class="count">215k</span> Youtube Aboneler
        </a>
    </li>
    <li>
        <a class="dribble" href="#">
            <i class="fab fa-linkedin"></i>
            <span class="count">190k</span> LinkedIn Takipçiler
        </a>
    </li>

</ul>
