@using RamsesEntities.Concrete
@model List<Category>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<h1>Kategoriler</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Açıklaması</th>
            <th>Tarihi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Name</td>
                <td>@x.Description</td>
                <td>@x.CreateDate</td>
            </tr>
        }

    </tbody>
</table>

