
<div class="tech-btm">
    <form action="#" method="post">
        <input type="email" placeholder="Mail Bültenine Abone Ol" required="" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>

</div>
